/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
    box-sizing: border-box;
    
    /*  
    Different then content-box
    
    width: ===>  ( content+padding+border) all together  
    It is not inhirited 

    Best source for this one is https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
    
    */
  }
  /* inherit border-box on all elements in the universe and before and after
   */
  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
  }
  
  body {
      font-family: Arial, Geneva, sans-serif;
  }
  a {
      color: #2772B0;
  }
  .wrapper {
      width: 97%;
      max-width: 1200px;
      margin: 0 auto;
      float: none;
      background-color: #fff;
  }
  
  div img {
      width: 100%;
      max-width: 225px; 
  }

 .row::after {
    content:"";
    display: table;
    clear:both; /* Clears all the floats from left and right aka pushes them down*/
 } 

 [class*='col-'] { /* Put this on every element that has class with 'col-'*/
    width: 92%;  /* This one is for the mobile version where we want just one item per row*/
    margin-left: 4%;
    margin-right: 4%;
    min-height: 1px;
 }

 .col-1-2,
 .col-1-4 {
     background-color: aliceblue;
 }
 .col-2 {
    background-color: lightgreen
 }
 .col-3 {
    background-color: lightsalmon;
 }
 .col-4 {
    background-color: lightpink;
 }
 .col-5 {
    background-color: lightcyan;
 }
  
  
  /* Mobile Landscape Screen Sizes */
  @media only screen and (min-width: 480px)  { /* only screen because we have olso the print versions */
    [class*='col-'] {
		margin-right: 0;
        min-height: 1px;
        float: left;
	}
	.col-1-2,
	.col-2 {
        width: 44%;
	}
	.col-1-4,
	.col-3,
	.col-4 {
		width: 92%;
    }
    .col-5 {
        width: 28%;
    }
  }
  /* Desktop screen Sizes */
  @media only screen and (min-width: 768px) {
    .col-1-2, 
	.col-1-4 {
        width: 20%;
        /* The math goes 
        4 items in col-1-2 = 4 * 20+4(margin-right) = 24 * 4 = 96% < 100%
        So the items will fit, the max number is
        100 - numberOfElement * (marginRight + width) >=0
        100 - 4 * (4 + width) >=0
        100-16-4 * width >= 0
        - 4 * width >= - 84
        width <= 21
        */
	}
	.col-2 {
		width: 44%;
	}
	.col-3 {
		width: 68%;
	}
	.col-4 {
		width: 92%;
	}
  }